<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControlServlet</servlet-name>
        <servlet-class>controller.CategoryControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControlServlet</servlet-name>
        <servlet-class>controller.DetailControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControlServlet</servlet-name>
        <servlet-class>controller.SearchControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControlServlet</servlet-name>
        <servlet-class>controller.LoginControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControlServlet</servlet-name>
        <servlet-class>controller.SignupControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControlServlet</servlet-name>
        <servlet-class>controller.LogoutControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControlServlet</servlet-name>
        <servlet-class>controller.ManagerFoodControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControlServlet</servlet-name>
        <servlet-class>controller.DeleteFoodControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodPageGetDetailServlet</servlet-name>
        <servlet-class>controller.AddFoodPageGetDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodControl</servlet-name>
        <servlet-class>controller.AddFoodControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFoodControlServlet</servlet-name>
        <servlet-class>controller.LoadFoodControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodControlServlet</servlet-name>
        <servlet-class>controller.EditFoodControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountControlServlet</servlet-name>
        <servlet-class>controller.ManagerAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAcountControlServlet</servlet-name>
        <servlet-class>controller.AddAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountControlServlet</servlet-name>
        <servlet-class>controller.DeleteAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccountControlServlet</servlet-name>
        <servlet-class>controller.LoadAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountControlServlet</servlet-name>
        <servlet-class>controller.EditAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcessControlServlet</servlet-name>
        <servlet-class>controller.CartProcessControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControlServlet</servlet-name>
        <servlet-class>controller.CheckoutControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControlServlet</servlet-name>
        <servlet-class>controller.ProfileControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileControlServlet</servlet-name>
        <servlet-class>controller.EditProfileControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControlServlet</servlet-name>
        <servlet-class>controller.OrderControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailControlServlet</servlet-name>
        <servlet-class>controller.OrderDetailControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderControlServlet</servlet-name>
        <servlet-class>controller.ManagerOrderControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderControlServlet</servlet-name>
        <servlet-class>controller.DeleteOrderControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderControlServlet</servlet-name>
        <servlet-class>controller.LoadOrderControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderControlServlet</servlet-name>
        <servlet-class>controller.EditOrderControlServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControlServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControlServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControlServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControlServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControlServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControlServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControlServlet</servlet-name>
        <url-pattern>/managerFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControlServlet</servlet-name>
        <url-pattern>/deleteFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodPageGetDetailServlet</servlet-name>
        <url-pattern>/addFoodPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodControl</servlet-name>
        <url-pattern>/addFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFoodControlServlet</servlet-name>
        <url-pattern>/loadFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodControlServlet</servlet-name>
        <url-pattern>/editFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountControlServlet</servlet-name>
        <url-pattern>/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAcountControlServlet</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountControlServlet</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccountControlServlet</servlet-name>
        <url-pattern>/loadAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountControlServlet</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcessControlServlet</servlet-name>
        <url-pattern>/cartProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControlServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControlServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileControlServlet</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControlServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailControlServlet</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderControlServlet</servlet-name>
        <url-pattern>/managerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderControlServlet</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderControlServlet</servlet-name>
        <url-pattern>/loadOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderControlServlet</servlet-name>
        <url-pattern>/editOrder</url-pattern>
    </servlet-mapping>

</web-app>
